{{#if flash.success}}
    <div class="row">
        <div class="col-lg-8 col-center">
            <div class="alert alert-success" role="alert">
                <p>
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    {{{flash.success}}}
                </p>
            </div>
        </div>
    </div>
{{/if}}

{{#if flash.info}}
    <div class="row">
        <div class="col-lg-8 col-center">
            <div class="alert alert-info" role="alert">
                <p>
                    <span class="glyphicon glyphicon-info-circle" aria-hidden="true"></span>
                    {{{flash.info}}}
                </p>
            </div>
        </div>
    </div>
{{/if}}

{{#if flash.warning}}
    <div class="row">
        <div class="col-lg-8 col-center">
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{{flash.warning}}}
                </p>
            </div>
        </div>
    </div>
{{/if}}

{{#if flash.error}}
    <div class="row">
        <div class="col-lg-8 col-center">
            <div class="alert alert-danger" role="alert">
                <p>
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    {{{flash.error}}}
                </p>
            </div>
        </div>
    </div>
{{/if}}
