<h1>Go/ Stats</h1>

<p>With a total of {{redirectCount}} redirects, Go/ has saved Brandwatch the following.</p>

<ul>
    <li>{{timeSaved}} seconds in looking for URLs that are hard to remember.</li>
    <li>{{moneySaved}} GPB</li>
</ul>
