<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">&nbsp;</h1>
    </div>
    <div class="panel-body text-center">
        <p class="lead">
            To create a go link you must log in...<br>
            <small class="text-muted">(only Brandwatch Gmail accounts)</small>
        </p>
        <p>
            <a href="/_auth/google" class="btn btn-primary btn-lg">Log In</a>
        </p>
    </div>
</div>
