<h1>Edit Test</h1>
<form action="/_api/go-link/asdf" method="post" accept-charset="utf-8">
    <input type="hidden" name="_method" value="put">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
